*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}




.calculator{
    margin: 2rem auto;
    border: 5px solid black;
    border-radius: 20px 20px 10px 10px;
    display: grid;
    max-width: 30rem;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 8rem 4rem 4rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
    grid-template-areas: "a a" "b c" "d f";
    padding: 10px;   
    
}

.calculator div {
    text-align: center;
    margin: 2px;
    border-radius: 5px;  
}

.calculator div > button{
    cursor: pointer;
    width: 100%;  
    height: 100%;
    border: none;
    border-radius: 5px;
    color: #202124;
    transition: .2s;
    
    
    
}


.calculator div button:hover {
    background-color: #f1f3f4;
    
}



 .calculator .display{
    grid-area: a;
    background-color: black;
    color: white;
    margin: -5px -5px 0 -5px;
    border-radius: 10px 10px 0 0;
    border: 2px solid white;
    text-align: right;
    overflow-y: hidden; 
     
    
}


.calculator .display >h1{
    margin: 20px 0;
    padding: 5px;
    font-size: 4em; 
    display: flex;
    flex-direction:row-reverse;
    white-space: nowrap;
       
}

.button-Add{
    grid-area: b;
    

}

.button-sub{
    grid-area: c;
    

}

.button-div{
    grid-area: d;
    

}

.button-mult{
    grid-area: f;
    

}


.calculator > .ac-button{
    width: auto;
    float: left;
  
}


.calculator .function-button  > #ac{
    width: 202%;
      
}


.calculator .function-button  button{
    font-size: 15px;
    font-weight: bold;
    background-color: #dadce0;
    
}

.calculator .number-button button{
    font-size: 15px;
    font-weight: bold;
    
    
}





